<div class="container">
    <mat-toolbar>
        <span> Hacer reporte</span>  
    </mat-toolbar>
    <br>
    
    <mat-card-content style="margin-top: 25px;">
        <form [formGroup]="form" (ngSubmit)="agregarUsuario()">
            <mat-grid-list cols="4" rowHeight="80px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>ID reporte</mat-label>
                        <input matInput autocomplete="off" formControlName="usuario">
                    </mat-form-field>
                </mat-grid-tile> 
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Calle o avenida</mat-label>
                        <input matInput autocomplete="off" formControlName="nombre">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Entrevialidad 1</mat-label>
                        <input matInput autocomplete="off" formControlName="apellido">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Entrevialidad 2</mat-label>
                        <input matInput autocomplete="off" formControlName="entrevial2">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Zona</mat-label>
                        <input matInput autocomplete="off" formControlName="zona">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Descripción</mat-label>
                        <input matInput autocomplete="off" formControlName="descripcion">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Clasificación</mat-label>
                        <mat-select formControlName="tipouser">
                          <mat-option *ngFor="let item of tipouser" [value]="item">
                            {{item}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>    
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Tiempo de surgimiento</mat-label>
                        <input matInput autocomplete="off" formControlName="tiempo">
                    </mat-form-field>
                </mat-grid-tile>
                
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Estado actual</mat-label>
                        <input matInput autocomplete="off" formControlName="estadoact">
                    </mat-form-field>
                </mat-grid-tile>
                
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <button mat-raised-button routerLink="/dashboard" style="margin-right: 20px;">Volver</button>
                    <button type="submit"  mat-raised-button color="primary">Aceptar</button>
                </mat-grid-tile>
            </mat-grid-list>
            <br>
              
        </form>
    </mat-card-content>
      
      
</div>