<div class="container">
  <mat-toolbar>
    <span>Reporte </span>  
    <div class="example-spacer">
    </div>
  </mat-toolbar>

  <div>
    <mat-card-content style="margin: 10px;">
        <mat-grid-list cols ="4" rowHeight ="50px">
        <mat-grid-tile [colspan]="1"[rowspan]="2" [style]="'padding:10px'">
            <h1 class="est-l">ID reporte: 101</h1>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="2" [style]="'padding:30px'">
             <h1 class="est-l">Calle o avenida: Agustin Melgar</h1>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="1" [style]="'padding:30px'">
          <h1 class="est-l">Entre vialidad 1: Lopez Mateos</h1>
     </mat-grid-tile>
     <mat-grid-tile [colspan]="4" [rowspan]="1" [style]="'padding:30px'">
      <h1 class="est-l">Entre vialidad 2: Niños Heroes</h1>
 </mat-grid-tile>
 <mat-grid-tile [colspan]="1" [rowspan]="1" [style]="'padding:30px'">
  <h1 class="est-l">Zona: Tesistan</h1>
</mat-grid-tile>
<mat-grid-tile [colspan]="2" [rowspan]="1" [style]="'padding:30px'">
  <h1 class="est-l">Clasificación: Bache en la calle</h1>
</mat-grid-tile>
<mat-grid-tile [colspan]="1" [rowspan]="4" [style]="'margin-left:0px'">
    <h1 class="est-l">Estado actual: Pendiente</h1>
</mat-grid-tile>

<mat-grid-tile [colspan]="1" [rowspan]="4" [style]="'margin-left:110px'">
  <h1 class="est-l">Tiempo de surgimiento:  2 semanas</h1>
</mat-grid-tile>
<mat-grid-tile [colspan]="1" [rowspan]="3" [style]="'margin-left:190px'">
  <h1 class="est-l">Descripción: Bache de alrededor de 40cm</h1>
</mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="4">
            <button mat-raised-button routerLink="/dashboard/reportes"color="primary"style="padding: 30px;">Volver</button>
        </mat-grid-tile>
        </mat-grid-list><br>
        </mat-card-content>
   </div>